body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
   
}


#header{
    display: flex;
    margin-bottom: 10%;
}
.header-part{
    width: 50%;
    padding-left: 5%;
}
.text-clr{
    color: orange;
}
h1{
    color: rgb(77, 74, 74);
    font-size: 60px;
}
h2{
    font-family: sans-serif;
    font-style: regular;
    font-size: 30px;
    line-height: 50px;
    color: rgb(119, 116, 116);
    text-align:left;
  
}


.btn-clr{
    
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to right,orange,rgb(231, 109, 9));
    color: white;
    font-size: 24px;
    border-radius: 50px;
    padding: 20px 40px;
    border: none;
    display: inline-block;
    height: 40px;
    width:  150px;
    margin-top: 40px;

    
    
}


.header-part img{
    width: 100%;
}
#about{
    display: flex;
    background-image: url(Shapes/background.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: 100%;
}
.about-part{
    width: 50%;
    padding: 5%;

}
h2{
    font-size: 40px;
}
.text-font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: regular;
    line-height: 40px;
    margin-top: 50px;
}
.about-part img{
    width: 50%;
    padding-left: 20%;
    
}