body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
   
}


#header{
    display: flex;
    margin-bottom: 10%;
}
.header-part{
    width: 50%;
    padding-left: 5%;
}
.text-clr{
    color: orange;
}
h1{
    color: rgb(77, 74, 74);
    font-size: 60px;
}
.header-title{
    font-family: sans-serif;
    font-style: regular;
    font-size: 30px;
    line-height: 50px;
    color: rgb(119, 116, 116);
    text-align:left;
  
}


.btn-clr{
    
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to right,orange,rgb(231, 109, 9));
    color: white;
    font-size: 24px;
    border-radius: 50px;
    padding: 20px 40px;
    border: none;
    display: inline-block;
    height: 40px;
    width:  150px;
    margin-top: 40px;

    
    
}


.header-part img{
    width: 100%;
}
#about{
    display: flex;
    background-image: url(Shapes/background.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: 100%;
}
.about-part{
    width: 50%;
    padding: 5%;

}
h2{
    font-size: 40px;
}
.text-font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: regular;
    line-height: 40px;
    margin-top: 50px;
}
.about-part img{
    width: 58%;
    padding-left: 20%;
    
}


h2{
    color: rgb(119, 116, 116);
    font-size: 40px;
    text-align: center;
}


.text-recipies{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
    font-style: regular;
    line-height: 20px;
    margin-top: 20px;
}
.recipies-part{
    display: flex;
}

.img-set{

    padding: 30px;
    margin-left: 19%;
}

    
div.img {
    
    margin: 20px;
    border-radius: 20px 20px;
    border: 1px solid #ccc;
    float: left;
    height: 550px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
    
    div.img img {
    width: 93%;
    height: auto;
    margin: 10px;
    
  }
  
  div.desc {
    padding: 15px;
    text-align:left;
  }
  div.reci-desc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 24px;
    padding: 15px;
    text-align:left;

  }


